{% extends './base.html' %}

{% block content %}
<div class="row">
  <div class="leftcolumn">
      <a href="{% url 'payercreate' %}">
          <button class="btn">Add Payer</button>
      </a>
    {% if payer_list %}
      {% for payer in payer_list %}
      <div class="card">
          <h2>{{payer.name}}</h2>
          <h5>Total Points: {{payer.total_points}}</h5>
      </div>
      {% endfor %}
    {% else %}
      <h3>No Payers Exist.</h3>
      <p>Add one using the button above</p>
    {% endif %}
  </div>
</div>

{% endblock %}